<template>
  <canvas id="breathe"></canvas>
</template>

<script>
export default {
  name: "BreatheCircle",
  data() {
    return {
      mainCanvas: undefined,
      mainContext: undefined,
      canvasWidth: undefined,
      canvasHeight: undefined,
      angle: 0
    };
  },
  methods: {
    drawCircle: function() {
      this.mainContext.clearRect(0, 0, this.canvasWidth, this.canvasHeight);
      // color in the background
      this.mainContext.fillStyle = "#112d32";
      this.mainContext.fillRect(0, 0, this.canvasWidth, this.canvasHeight);
      // draw the circle
      this.mainContext.beginPath();
      var radius = 0 + this.canvasWidth/15 * Math.abs(Math.cos(this.angle));
      this.mainContext.arc(this.canvasWidth/2, this.canvasHeight/2, radius, 0, Math.PI * 2, false);
      this.mainContext.closePath();
      // color in the circle
      this.mainContext.fillStyle = "#88BDBC";
      this.mainContext.fill();
      this.angle += Math.PI / 64;
      this.requestAnimationFrame(this.drawCircle);
    },
    requestAnimationFrame: window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame

  },
  mounted: function() {
    this.mainCanvas = document.querySelector("#breathe");
    this.mainContext = this.mainCanvas.getContext("2d");
    this.canvasWidth = this.mainCanvas.width;
    this.canvasHeight = this.mainCanvas.height;

    this.drawCircle();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
canvas {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #112d32;
  z-index: 1;
  position: absolute;
}
</style>
