<template>
  <canvas id="menu"></canvas>
</template>

<script>
export default {
  name: "Menu",
  data() {
    return {
      x: 50
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
canvas {
  display: block;
  width: 100vw;
  height: 10vh;
  background-color: #dddddd;
  z-index: 2;
  position: absolute;
  bottom: 0px;
}
</style>
