<template>
  <div id="app">
    <BreatheCircle/>
  </div>
</template>

<script>
import BreatheCircle from "./components/BreatheCircle.vue";
//import Menu from "./components/Menu.vue";

export default {
  name: "app",
  components: {
    BreatheCircle
    //,Menu
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
